/*aqui coloco la imagen del body*/
body{
    background-color: #024959;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
}



